body {
    background-color: #0f0e17;
    color: #a7a9be;
}

h1,
h2,
h3,
h4 {
    color: #fffffe;
}

a {
    color: #e53170;
}

.icon {
    background-color: #f25f4c;
}

.name {
    color: #fffffe;
}

.links {
    a {
        background-color: #ff8906;
        color: #fffffe;
    }
}

.page-container {
    .page-date {
        color: #a7a9be;
    }

    .page-content {
        color: #a7a9be;
    }
}

.page-container:hover {
    background-color: #2e2f3e;
}

.page-title {
    color: #fffffe;
}