html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Zen Maru Gothic', sans-serif;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.index {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;

    .icon {
        margin: 10px;
        width: 100px;
        height: 100px;
        border-radius: 100%;
    }

    .name {
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: x-large;
        font-weight: bold;

        p {
            margin: 0;
        }
    }

    .links {
        margin: 10px;
        display: flex;
        flex-direction: row;

        a {
            padding: 10px;
            margin: 5px;
            border-radius: 5px;
            font-weight: bold;
            text-decoration-line: none;
        }
    }
}

.blog {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: left;

    .page-container {
        display: flex;
        padding: 10px;
        border-radius: 5px;
        flex-direction: column;
        text-decoration: none;

        .page-header {
            display: flex;
            flex-direction: row;
            align-items: end;

            .page-title {
                margin-right: 5px;
                font-size: xx-large;
                font-weight: bold;
            }

            .page-date {
                margin-left: 5px;
                font-size: medium;
            }
        }
    }
}

.page {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: left;

    .page-header {
        display: flex;
        flex-direction: row;
        align-items: end;

        .page-title {
            margin: 0;
            margin-right: 5px;
            font-weight: bold;
        }

        .page-date {
            margin: 0;
            margin-left: 5px;
            font-size: medium;
        }
    }
}