{% extends "section.html" %}

{% block content %}
<div class="page">
    <h1 class="page-header">
        <div class="page-title">
            <a href="/">Nazu Huang</a>
            / <a href="/blog">Blog</a> /
            {{ page.title }}
        </div>
        <p class="page-date">{{ page.date }}</p>
    </h1>
    {{ page.content | safe }}
</div>
{% endblock content %}