{% extends "section.html" %}

{% block content %}
<div class="blog">
    <h1 class="title">
        <a href="/">Nazu Huang</a>
        /
        {{ section.title }}
    </h1>

    {% for page in section.pages %}
    <a class="page-container" href="{{ page.permalink | safe }}">
        <div class="page-header">
            <div class="page-title">
                {{ page.title }}
            </div>
            <div class="page-date">
                {{ page.date }}
            </div>
        </div>
        <div class="page-content">
            {{ page.content | safe }}
        </div>
    </a>
    {% endfor %}

</div>
{% endblock content %}