<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ get_url(path='color.css') }}">
    <link rel="stylesheet" href="{{ get_url(path='layout.css') }}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">

    <title>Nazu Huang</title>
</head>

<body>
    {% block body %} {% endblock %}
</body>

</html>