{% extends "body.html" %}

{% block body %}

<div class="index">
    <img class="icon" width="100px" height="100px" src="{{ get_url(path='nazu.png') }}">

    <div class="name">
        <p>Nazu Huang</p>
        <p>黄 凪寿</p>
    </div>

    <div class="links">
        <a href="{{ get_url(path='@/blog/_index.md') }}">Blog</a>
        <a href="https://gitlab.com/nazuh">GitLab</a>
        <a href="https://twitter.com/5epe">Twitter</a>
    </div>

    <section>
        {{ section.content | safe }}
    </section>
</div>

{% endblock body %}